.wrap-app {
  height: auto;
  width: 100vw;
  background-color: hsl(228, 33%, 97%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  overflow-y: scroll;
}
.add-cmt {
  height: auto;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  margin-top: 2rem;
  padding: 25px 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.2);
}
.text {
  resize: none;
  width: 527px;
  height: 100px;
  outline-width: 30px;
  outline: none;
  border: 2px solid hsl(223, 19%, 93%);
  padding: 13px 0px 0px 17px;
  color: hsl(211, 10%, 45%);
  font-size: 16px;
}
.text:focus {
  border: 2px solid hsl(238, 40%, 52%);
}
.send {
  background-color: hsl(238, 40%, 52%);
  color: white;
  padding: 14px 35px;
  border: none;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.25s ease-in-out;
}
.send:hover {
  opacity: 0.3;
  transform: scale(0.96);
}
.text::placeholder {
  color: hsl(211, 10%, 45%);
  font-size: 16px;
}
.delete-modal {
  position: absolute;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  background-color: white;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 40px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  top: -100%;
  transition: all 0.45s ease-in-out;
  transition-delay: 0.25s;
  border-radius: 20px;
}
.delete-modal p {
  color: hsl(211, 10%, 45%);
  font-size: 17px;
  line-height: 28px;
}
.overlay {
  top: -100%;
  width: 100%;
  transition: all 0.45s ease-in-out;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  bottom: 0;
}
.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.cancel,
.delete-btn {
  border: none;
  padding: 15px 26px;
  font-size: 1.1rem;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.cancel {
  background-color: hsl(211, 10%, 45%);
}
.delete-btn {
  background-color: hsl(358, 79%, 66%);
}
.open-modal {
  top: 50%;
}
.overlay-open {
  top: 0;
}
